@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
/*////////// GLOBAL //////////*/

body {
  color: #4D5F68;
  font-size: 85%;
  line-height: 1.68; }

.col-2 {
  float: right;
  width: 80%;
}

/*/////// MEDIA ////////*/
img, video, audio, iframe, table, form {
  width: 100%;
  /* IE */
  max-width: 100%;
  /* FF, Safari, Chrome */ }

/*////////// FIXES //////////*/
* {
  box-sizing: border-box; }

/*/////// LAYOUT ////////*/
.wrapper {
  max-width: 960px;
  width: 90vw;
  margin: 0 1rem; }

/*////////// NAVBAR //////////*/
.navbar-left {
  float: left;
  position: fixed;
  margin-right: 1rem;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #6EBFBD;
  width: 20%;
  height: 100%; }

.navbar-left li {
  text-align: center;
  list-style: none;
}



/*////////// HEADER //////////*/
header {
  margin: 0 0 1.618rem;
  background-color: #6EBFBD; }

#logo-head p {
  text-align: center;
  margin: 0;
  font: 4.236rem "Clicker Script", cursive; }

/*////////// MAIN CONTENT //////////*/
#main-content {
  position: relative;
  text-align: center; }

.intro {
  margin-bottom: 4.236rem;
  font-family: 'EB Garamond', serif; }
  .intro img {
    background-color: transparent; }
  .intro h1 {
    margin: 0; }
  .intro h2 {
    margin: 0; }

.content-sample {
  font-family: 'EB Garamond', serif;
  background: #AFE6E5;
  margin-bottom: 4.236rem; }
  .content-sample p {
    font-size: 1.25rem;
    padding: 2.023rem;
    padding-top: 1.25rem;
    margin: 0; }
  .content-sample img {
    padding: 2.023rem;
    padding-bottom: 0; }

.shadow {
  box-shadow: 5px 5px #aaa; }

/*////////// Sign/Log Buttons //////////*/
#sign-up {
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-bottom: 4.236rem; }

button {
  outline: none;
  border-radius: 4px;
  padding: 0.3em;
  background: #6EBFBD;
  box-shadow: 0 4px 4px 0 #999;
  border: 1px solid; }
  button:last-child {
    margin-left: 3em; }
  button:hover {
    background-color: #3BCCC6; }
  button:active {
    background-color: #6EBFBD;
    box-shadow: 0 5px #666;
    -webkit-transform: translateY(2px) translateX(-2px);
    transform: translateY(2px) translateX(-2px); }

/*////////// SOCIAL //////////*/
#social {
  text-align: center;
  top: 1rem;
  padding: 2px; }
  #social a {
    display: inline-block;
    height: 25px;
    width: 25px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }

a.fbook, a.twit, a.ghub {
  background-image: url(../images/social-icons.png);
  background-repeat: no-repeat; }
a.fbook {
  width: 25px;
  height: 25px;
  background-position: -5px -5px; }
  a.fbook:hover {
    width: 25px;
    height: 25px;
    background-position: -40px -5px; }
a.ghub {
  width: 25px;
  height: 25px;
  background-position: -5px -40px; }
  a.ghub:hover {
    width: 25px;
    height: 25px;
    background-position: -40px -40px; }
a.twit {
  width: 25px;
  height: 25px;
  background-position: -75px -5px; }
  a.twit:hover {
    width: 25px;
    height: 25px;
    background-position: -75px -40px; }

/*////////// ABOVE FOOTER //////////*/
.bot-links {
  text-align: center;
  background-color: #AFE6E5;
  padding: 0.4em; }

.foot-bar a {
  text-decoration: none;
  font-size: 0.7em;
  color: black;
  border-right: 1px solid #000;
  padding-right: 0.5em; }
  .foot-bar a:last-child {
    border-right: none; }
  .foot-bar a:hover {
    text-decoration: underline; }

/*////////// FOOTER //////////*/
footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.773rem;
  background: #6EBFBD;
  border-top: 1px solid #000;
  z-index: 2 }

.address p {
  margin: 0;
}

.copyright p {
  margin: 0;
}


